<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083531581119-8bgqmghsagaflq0rm83v87vq6rd9vq2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083531581119-8bgqmghsagaflq0rm83v87vq6rd9vq2g</string>
	<key>API_KEY</key>
	<string>AIzaSyBd3xlGJY__GdJim9SAg3ZPj9pFJcyThGM</string>
	<key>GCM_SENDER_ID</key>
	<string>1083531581119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoapp</string>
	<key>PROJECT_ID</key>
	<string>login-e41d5</string>
	<key>STORAGE_BUCKET</key>
	<string>login-e41d5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083531581119:ios:6164267b26858db9c5980a</string>
</dict>
</plist>